.GetCountryInfo {
    width: 100vw;
    min-height: 100vh;
    background-color: #edf2f4;

    .heading {
        text-align: center;
        padding-block: 16px;
        color: var(--text-white);
        letter-spacing: 1px;
        background-color: var(--primary-color);
    }

    .userInput {
        width: 100%;
        background-color: var(--accent-color);

        .inputForm {
            width: 50%;
            margin-inline: auto;
            display: flex;
            align-items: center;
            justify-content: center;

            .inputTxt {
                width: 50%;
                padding: 8px 16px;
                border-radius: 4px;
                margin: 8px 16px 8px 8px;
                border: 1px solid rgba(255, 255, 255, 0.5);
                background-color: rgba(255, 255, 255, 0.4);
                transition: border 0.3s ease-in-out, background-color 0.3s ease-in-out;

                border: 1px solid rgba(0, 169, 255, 0.4);

                &:hover {
                    background-color: rgba(255, 255, 255, 0.5);
                }

                &:focus {
                    outline: none;
                    background-color: rgba(255, 255, 255, 0.7);
                }
            }

            .submit-btn {
                width: 25%;
                font-size: 0.8rem;
                background-color: var(--brand-color);
                padding: 8px 8px;
                color: white;
                letter-spacing: 1px;
                border: none;
                border-radius: 4px;
                margin-block: 16px;
                cursor: pointer;
                backdrop-filter: blur(5px);
                align-self: center;
                transition: background-color 0.3s ease-in-out;

                &:hover {
                    background-color: #009bd3;
                }

                &:active {
                    background-color: var(--brand-color);
                }
            }
        }
    }

    /* HTML: <div class="loader"></div> */
    .loader {
        margin-top: 100px;
        margin-inline: auto;
        width: 120px;
        height: 20px;
        background:
            linear-gradient(#009bd3 0 0) 0/0% no-repeat #ddd;
        animation: l1 2s infinite linear;
    }

    @keyframes l1 {
        100% {
            background-size: 100%
        }
    }

    .infoContainer {
        width: 100%;
        padding-block: 50px;

        .countryDetails {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-around;
            flex-wrap: wrap;

            .details {
                width: 40%;
                align-self: flex-start;
                position: relative;

                .infoRow {
                    font-weight: 600;
                    margin-bottom: 8px;
                    color: var(--text-color);
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-bottom: 4px;

                    .label {
                        margin-right: 8px;
                        font-weight: bold;
                        flex: 1;
                        // background-color: #009bd3;
                    }

                    .value {
                        font-weight: normal;
                        flex: 1;

                        // background-color: tomato;
                    }

                    &::before {
                        content: '';
                        width: 8px;
                        height: 8px;
                        border-radius: 4px;
                        background-color: var(--primary-color);
                        position: absolute;
                        left: -18px;
                    }
                }
            }
        }

        .coutryFlag {
            width: 300px;
            height: 300px;

            .flag {
                width: 200xp;
                height: 200px;
            }

            .flagDesc {
                font-size: 0.7rem;
                padding-top: 8px;
            }
        }
    }

    @media only screen and (max-width : 576px) {

        .userInput {

            .inputForm {
                flex-direction: column;
                width: 100%;

                .inputTxt {
                    width: 80%;
                }

                .submit-btn {
                    width: 40%;
                    margin-block: 8px;
                }
            }

        }


        .infoContainer {
            .countryDetails {
                flex-direction: column;
                row-gap: 16px;

                .details {
                    padding-inline: 8px;
                    width: 100%;
                }
            }
        }
    }
}