* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --brand-color: #00A9FF;
  --primary-color: #212529;
  /* Main brand color */
  --secondary-color: #343A40;
  /* Secondary color */
  --accent-color: #495057;
  /* Accent color */
  --background-color: #ffffff;
  /* Background color */
  --text-color: #3A3A47;
  /* Main text color */
  --text-white: #ffffff;
  --border-color: #CCCCCC;
  /* Border color */
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}